.addTask {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mainRow {
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.todo { 
  border-bottom: 1px solid black;
}

.todoCard {
  min-height: 40vh;
  
}
  .todoCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
